:root { /* Nunito?. Figtree? cf public/index.html */
    --fontFamily: "Montserrat", sans-serif;
    --darkTeal: #00525f;
    --lightTeal: #E8F0FE; /* this doesn't look like teal at all */
    --aaDarkGray: #999999; /* this is really close to css darkgray a9a9a9 */
    --aaLightGray: #CCCCCC; /* this is really close to css lightgray d3d3d3 */
    --aaRed: #FF5A5F; /* lighter than css red */
    --abnbRed: #ff385c; /* actual red used on abnb */
    --headingSize: 24pt;
    --subheadingSize: 16pt; /* orig 18 */
    --subheadingWeight: 550;
    --defaultSize: 10pt;  /* orig 14 */
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of Eric Meyer's reset */

/* TEMP TODO */
img {
    max-height: 200px;
    max-width: 200px;
}

/* add progress cursor during db access */
body.waiting * {
    cursor: progress !important;
}


header { /* all from css guidelines AA open */
    display: inline-flex ;
    justify-content: space-between ;
    align-items: center ;
    border-bottom: 2px solid lightgrey ;
    width: 100% ;
    height: 70px ;
    padding-left: 20px ;
    padding-right: 20px ;
    margin-top: 22px ;
    margin-bottom: 50px ;
}

.logoDiv {
    /* the next two are not aligning as they should */
    display: flex ;
    align-items: center ;
    text-decoration-color: var(--abnbRed) ;
    color: var(--abnbRed) ;
}

.logoLink {
    text-decoration: none ;
}

.menuDiv {
    display: flex ;
    justify-self: flex-end ;
}

.navMenuDiv {
    display: flex ;
    margin-right: 3rem ;
}

.profileButton {
    display: flex;
    gap: 7px;
    border: 1px solid black ;
    border-radius: 56px ;
}

.hidden {
    display: none ;
}

.error {
    color: red ;
}

body { /* all from css guidelines AA open */
    box-sizing: border-box ;
    font-family: var(--fontFamily) ;
    font-size: var(--defaultSize) ;
}

/*
div {
    border: 3px black solid;
} */

h1 { /* all from css guidelines AA open */
    font-size: var(--headingSize) ;
}

h2 { /* all from css guidelines AA open */
    font-size: var(--subheadingSize) ;
    font-weight: var(--subheadingWeight) ;
}

.spotTileImage {
    width: 20% ;
    min-width: 100px ;
    height: 20% ;
    min-height: 100px ;

}

.profile-dropdown {
    padding: 0px ;
    z-index: 3 ;
    position: absolute ;
    top: 70px ;
    right: 50px ;
    background: rgba(255, 255, 255, 1) ;
    list-style-type: none ;
    font-size: 12px ;
    border: 1px solid black ;
    width: fit-content ;
    /* following just for signup/login */
    min-width: 80px;
}

.profile-dropdown > li,.littleProfileMenuItem {
    text-align: center;
}

/* make some buttons look like text */
.createSpotButton,.manageSpotsButton,.demoUserButton {
    border: none ;
    background: none ;
    background-color: white ;
}

li:has(.logoutButton) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logoutButton {
    width: fit-content ;
    align-self: center ;
    color: white ;
    background-color: var(--aaRed) ;
    border-radius: 50px ;
    margin-top: -4px ;
    margin-bottom: 3px ;
}

.loggedInMenuTextItem {
    padding-left: 6px;
}

.loginForm {
    width: 130%;
    margin-top: -280px ;
    background-color: rgba(255, 255, 255, 1) ;
}

.loginDiv {
    display: flex ;
    flex-direction: column ;
    gap: 6px ;
    justify-content: center ;
    margin: 10px ;
}

/* .loginCredentialInput,.loginPasswordInput,.loginButton {
    width: 80% ;
} */

.loginTitle {
    text-align: center ;
}

.loginButton {
    padding-top: 8px ;
    padding-bottom: 8px ;
    background-color: var(--aaRed);
}

.demoUserButton {
    margin-bottom: 10px ;
}

.spotFormDiv {
    display: flex;
    justify-content: center ;
}

.spotForm {
    width: 37%;
}

.innerSpotFormDiv {
    width: 95% ;
}

.createSpotSection5 {
    display: flex ;
    flex-direction: column ;
}

input,textarea {
    width: 100% ;
}

label {
    font-weight: bold;
}

#root,manageSpotsDiv {
    display: grid;
    width: 100vw;
}

.manageSpotsHeaderDiv {
    margin-left: 22px;
    margin-bottom: 20px;
}

.createManageSpotButton {
    margin-top: 10px;
}

.manageSpotUpdateButton {
    margin-right: 10px;
}

.spotListDiv {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 40px;
    justify-self: center;
    width: 90%;
    margin-bottom: 30px;
}

.tileDiv {
    row-gap: 0.6em;
    display: flex;
    width: fit-content;
    flex-direction: column;
}


.cityStateDiv {
    display: flex ;
    justify-content: space-between ;
}

.spotLabel,.spotInput {
    display: flex ;
    flex-direction: column ;
}

/* .rating for stars */
.rating-input {
    display: flex;
    margin-right: 4px;
  }

  .review-item {
    display: flex;
  }

  .rating-input .filled {
    color: saddlebrown;
  }

  .rating-input .empty {
    color: burlywood;
  }

.signupForm {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


#modalContent {
    background-color: transparent;
}

.confirmSpotDeleteModalDiv {
    gap: 20px;
    border: 4px black solid;
    border-radius: 10px;
    /* width: 85%; */
 }
.spotDeleteFormButtonDiv{ gap: 5px; }
.confirmSpotDeleteModalDiv,.spotDeleteFormButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmSpotDeleteModalP,.spotNoDeleteButton,.spotDeleteButton {
    width: 250px;

}

.spotDeleteButton {
    background-color: var(--aaRed);
    color: white;
}

.spotNoDeleteButton,
.manageSpotUpdateButton
{
    background-color: var(--aaDarkGray);
    color: white;
}

.signupSubmit
.manageSpotDeleteButton
{
    background-color: var(--aaRed);
    color: white;
}

.signupInput {
    max-width: 85%;
}

i,button,.spotTileImg,.profileMenuItem.littleProfileMenuItem {
    cursor: pointer;
}

.fa-star,.profile-dropdown > li {
    cursor: default;
}

.manageSpotTilesDiv {
    display: flex;

}

.spotlistDiv,.manageSpotsDiv {
    display: flex;
    flex-flow: row wrap ;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.spotTileImg {
    height: 60vh;
    width: 80vw;
    max-height: 290px;
    max-width: 300px;
    min-height: 180;
    min-width: 200;

}

.tileLocationAndRatingDiv {
    display: flex;
    justify-content: space-between;
}

.manageSpotsHeaderDiv {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 50px;
}

.createManageSpotButton {
    width: 200px;

}

.managedTileButtonDiv {
    display: flex;
    justify-content: flex-start;
    gap-row: 10px;
}
/*
.spotDetailsPreviewImg {
    height: 400px;
    width: 200px
}

.spotDetailsImagesDiv {
    display: flex;
    height: 100px;
    width: 200px;
}

.spotDetailsSmallImg {
    height: 1000px;
    width: 100px;
} */

.spotDetailsLocationDiv {
    margin-bottom: 30px;
}

.spotDetailsReviewAreaDiv {
    margin-top: 30px;
}

.spotDetailsSection {
    display:flex;
    justify-content: space-between;
}

.spotDetailsCalloutDiv {
    border: 2px solid black;
    border-radius: 10px;
}
